<article class="about">
<h1> About A K McCrate </h1>
<p>I'm Ashton. I'm a human being (family: Hominidae, genus: Homo, species: sapien). I am on a never-ending mission to myelinate my neurons. I am currently studying at Hacker School to advance my understanding of various computer technologies. I primarily work with Ruby, but am spending some time with JS, CS theory, and what ever else proves to be captivating.</p>
<p>My interests include logic, sense of place, flow, and pushing the boundary. My goal is to create instances that incorporate elements of each.</p>
<h1>Get In Touch</h1>
<p>Email: <a href="mailto:frontdesk@akmccrate.com">frontdesk@akmccrate.com</a></p>
<p>Twitter: <a href="http://twitter.com/akmccrate">@akmccrate</a></p>
<p>Github: <a href="https://github.com/akmcc">akmcc</a></p>
</article>